
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body * {
    outline: 1px solid magenta;
} */

body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background: #FCFCFC;
}

/*
* typography
*/

.font-karla {
  font-family: 'Karla', sans-serif;
}

