
:root {
    --main-color: #2B283A;
}
  
/*******
General
*******/

.info--name,
.info--details p {
    margin: 0;
}

/*******
Typography
*******/

h1,
h3 {
    color: var(--main-color);
}

p {
    color: #4A4E74;
}

h1 {
    font-size: 2rem;
}

.info--details p {
    color: #F47D27
}

.info--details a {
    color: #4A4E74;
    text-decoration: none;
    cursor: pointer;
}
    .info--details a:hover {
        text-decoration: underline;
    }

.main--title {
    font-size: 1.5rem;
}

/*******
Layout
*******/

.info--img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.info--details {
    padding: 1em 0;
    text-align: center;
}

.info--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 135px;
    justify-content: center; /* Horizontally center the icon and text */
    align-items: center;
    padding: .6em 1em;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: .5rem;
}
    .info--icon {
        font-size: 1rem;
        margin-right: .5rem;
        text-align: center;
    }

    .email {
        background: #fff;
        border: 2px solid #D1D5DB;
        color: var(--main-color);
        margin-right: 1.3em;
    }

    .linkedin {
        border: none;
        border: 2px solid #297FE5;
        background: #297FE5;
    }

.main--section {
    padding: 2em 1.5em;
}
  
    .main--about {
        margin-bottom: 1em;
    }

footer {
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    background: #D5D4D8;
    color: #918E9B;
}

    .footer--icon {
        font-size: 2.5rem;
        margin: 0 0.5rem; 
        display: inline-flex;
    }